<div class="forum-container">

  <!-- Button to open the post creation form -->
  <div class="create-post-button">
    @if (!showPostForm){
    <button mat-raised-button color="primary" (click)="togglePostForm()">
      Create New Post
    </button>
    }
  </div>

  <!-- Form to create a new post-->
  @if (showPostForm){   
    <app-post-form 
      [postForm]="postForm" 
      (submitPost)="createPost()" 
      (cancel)="togglePostForm()">
    </app-post-form>
  }

  <!-- Display list of posts -->
  @for (post of posts(); track post) {
    <app-post [post]="post"></app-post>
  }
</div>