@import '../../../styles.scss';

.forum-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;       
  }

  .create-post-button {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;   
  }

  .post-form {
    margin-bottom: 2rem;

    form {
      display: flex;
      flex-direction: column;
    
      ckeditor {
        margin-bottom: 1.5rem;
        height: 300px;
      }
    }
  }

}
